<% include ../partials/header %>

<!-- <% if (currentUser && currentUser.isAdmin) { %>
    <h2> You're admin</h2>
<% }%> -->

<div class="container">  
    <header class="jumbotron">
        <div class="container"> 
            <h1> Welcome to Camp Book! </h1> 
            <p> View our exclusive campgrounds ...</p>
            <p>
                <a class="btn btn-primary btn-large" href="/camplist/new"> Add a new camp</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;"> 
            <% camps.forEach(function(camp){  %> 
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="index-image" src=" <%= camp.image %>">
                    <div class="caption">
                        <h4> <%= camp.name %> </h4>        
                    </div>
                    <p>
                        <a href="/camplist/<%= camp._id%>" class="btn btn-primary">More info</a>
                    </p>
                </div>   
            </div>
         <% }); %>
    </div>
</div>

<% include ../partials/footer %>
