.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9pt;
}

#delete-from{
    display: inline;
}

.img-responsive{
    height:50px;
}

.thumbnail img{
    height: 200px;
}
